In [1]:
import pandas as pd
import numpy 
import csv

In [14]:
OCT2020 = pd.read_csv("JC-202010-citibike-tripdata.csv")
OCT2020["tripcount"] = 1
OCT2020 = OCT2020.groupby(["bikeid"]).sum().reset_index()
OCT2020 = OCT2020[["bikeid","tripduration","tripcount"]]
OCT2020_usage_duration = OCT2020['tripduration'].sum()
OCT2020_usage = OCT2020['tripcount'].sum()

     bikeid  tripduration  tripcount
0     14585         21237         22
1     14598         11561         13
2     14607         18891         20
3     14639         27796         22
4     14729         19347         20
..      ...           ...        ...
585   47777          4647          3
586   47808          7362          4
587   47880         25327         32
588   47939          4216          2
589   48114          1034          1

[590 rows x 3 columns]

In [3]:
SEP2020 = pd.read_csv("JC-202009-citibike-tripdata.csv")
SEP2020["tripcount"] = 1
SEP2020 = SEP2020.groupby(["bikeid"]).sum().reset_index()
SEP2020 = SEP2020[["bikeid","tripduration","tripcount"]]
SEP2020_usage_duration = SEP2020['tripduration'].sum()
SEP2020_usage = SEP2020['tripcount'].sum()

In [4]:
AUG2020 = pd.read_csv("JC-202008-citibike-tripdata.csv")
AUG2020["tripcount"] = 1
AUG2020 = AUG2020.groupby(["bikeid"]).sum().reset_index()
AUG2020 = AUG2020[["bikeid","tripduration","tripcount"]]
AUG2020_usage_duration = AUG2020['tripduration'].sum()
AUG2020_usage = AUG2020['tripcount'].sum()

In [5]:
JUL2020 = pd.read_csv("JC-202007-citibike-tripdata.csv")
JUL2020["tripcount"] = 1
JUL2020 = JUL2020.groupby(["bikeid"]).sum().reset_index()
JUL2020 = JUL2020[["bikeid","tripduration","tripcount"]]
JUL2020_usage_duration = JUL2020['tripduration'].sum()
JUL2020_usage = JUL2020['tripcount'].sum()

In [6]:
JUN2020 = pd.read_csv("JC-202006-citibike-tripdata.csv")
JUN2020["tripcount"] = 1
JUN2020 = JUN2020.groupby(["bikeid"]).sum().reset_index()
JUN2020 = JUN2020[["bikeid","tripduration","tripcount"]]
JUN2020_usage_duration = JUN2020['tripduration'].sum()
JUN2020_usage = JUN2020['tripcount'].sum()

In [7]:
MAY2020 = pd.read_csv("JC-202005-citibike-tripdata.csv")
MAY2020["tripcount"] = 1
MAY2020 = MAY2020.groupby(["bikeid"]).sum().reset_index()
MAY2020 = MAY2020[["bikeid","tripduration","tripcount"]]
MAY2020_usage_duration = MAY2020['tripduration'].sum()
MAY2020_usage = MAY2020['tripcount'].sum()

In [8]:
bikeid_usage = pd.merge(OCT2020, SEP2020, on = "bikeid")
bikeid_usage = pd.merge(bikeid_usage, AUG2020, on = "bikeid")
bikeid_usage = pd.merge(bikeid_usage, JUL2020, on = "bikeid")
bikeid_usage = pd.merge(bikeid_usage, JUN2020, on = "bikeid")
bikeid_usage = pd.merge(bikeid_usage, MAY2020, on = "bikeid")
bikeid_usage

,bikeid,tripduration_x,tripcount_x,tripduration_y,tripcount_y,tripduration_x,tripcount_x,tripduration_y,tripcount_y,tripduration_x,tripcount_x,tripduration_y,tripcount_y
0,15049,14141,27,61417,61,57602,38,63977,38,118490,57,5949,3
1,15687,42104,35,52635,53,67702,54,63721,53,237282,47,17113,7
2,15803,20037,25,51384,59,55757,41,85638,65,110696,52,8353,6
3,17415,27406,34,49700,58,86094,48,110467,41,147767,51,24879,8
4,18063,32844,38,73647,69,45480,46,107054,58,82075,51,10081,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,42611,23494,19,58556,64,82623,61,14614,10,31398,17,138522,53
192,42617,43330,56,164019,178,86449,83,116159,72,148862,66,104315,76
193,42623,59638,59,170181,83,101945,67,229693,74,115640,65,169175,60
194,42625,509495,50,150976,128,120948,109,64266,52,190479,92,74094,31
195,42634,68851,79,102263,104,74352,69,116732,84,221135,101,164548,72

In [9]:
bikeid_usage["total_trip_duration"] = bikeid_usage[["tripduration_x", "tripduration_y"]].sum(axis=1)
bikeid_usage["total_trip_count"] = bikeid_usage[["tripcount_x", "tripcount_y"]].sum(axis=1)
bikeid_usage = bikeid_usage[["bikeid","total_trip_duration", "total_trip_count"]]
bikeid_usage

     bikeid  total_trip_duration  total_trip_count
0     15049               321576               224
1     15687               480557               249
2     15803               331865               248
3     17415               446313               240
4     18063               351181               266
..      ...                  ...               ...
191   42611               349207               224
192   42617               663134               531
193   42623               846272               408
194   42625              1110258               462
195   42634               747881               509

[196 rows x 3 columns]

In [10]:
bikeid_usage.to_csv("bikeid_usage.csv", encoding="utf-8", index=False, header=True)

In [11]:
sixmonthReport = pd.DataFrame({
    "10_2020": [OCT2020_usage, OCT2020_usage_duration],
    "09_2020": [OCT2020_usage, SEP2020_usage_duration],
    "08_2020": [OCT2020_usage, AUG2020_usage_duration],
    "07_2020": [OCT2020_usage, JUL2020_usage_duration],
    "06_2020": [OCT2020_usage, JUN2020_usage_duration],
    "05_2020": [OCT2020_usage, MAY2020_usage_duration]
})
sixmonthReport.index = ["Count of Users","Trip Duration"]
sixmonthReport

                 10_2020   09_2020   08_2020   07_2020   06_2020   05_2020
Count of Users     30086     30086     30086     30086     30086     30086
Trip Duration   37495915  84829288  74089474  71237812  84792297  61331349

In [13]:
sixmonthReport.to_csv("sixmonthReport.csv", encoding="utf-8", index=False, header=True)